@using sells.model1;
@{
    ViewBag.Title = "Home Page";
}

<a class="btn btn-primary" href="@Url.Action("Insert","Home")" style="margin-top:50px;">Add New Product</a>
<table class="table" style="margin-top:10px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">About</th>
            <th scope="col" style="text-align:center;">Edit</th>
            <th scope="col" style="text-align:center;">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Products item in ViewBag.Product)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.ProductType.Name</td>
                <td>@item.Price</td>
                <td>@item.About.ToString().Substring(0,10).Insert(10, "...")</td>
                <td style="text-align:center;"><a href="@Url.Action("Edit","Home", new {id = item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td style="text-align:center;"><a href="@Url.Action("Delete","Home", new {id = item.Id })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
        }
        
       
    </tbody>
</table>